* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #333;
}
.wraper {
    max-width: 760px;
    margin: 10px auto;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.days-week {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(88, 52, 218);
}
.number-days {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.days-week span {
    color: rgb(88, 52, 218);
    font-weight: bold;
    display: inline-block;
    width: 14.2857%; 
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}
.number-days span {
    display: inline-block;
    width: 14.2857%;
    margin-bottom: 8px;
    color: #555;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}
.mes-anterior {
    opacity: 0.5;
}
